node_modules/
dx_modules/
.dx/
.vs/
/upload/
.DS_Store/
.vscode/*
!.vscode/dx.code-snippets
!.vscode/launch.json

/package-lock.json
/yarn.lock

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
